# Maven target directory
/target/

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Maven specific files
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Ignore .mvn directory except the wrapper properties file
.mvn/*
!.mvn/wrapper/maven-wrapper.properties

# Avoid Mac specific files
.DS_Store

# Avoid Linux/Unix specific files
*~

# Avoid Windows specific files
Thumbs.db

# IntelliJ IDEA project files
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# NetBeans project files
/nbproject/

# IntelliJ IDEA plugin folder
/.idea/modules.xml
/.idea/workspace.xml

# Exclude local run scripts
*.sh
*.bat
